

/*-------------------------------------------------*/
/*------global styling-----------------------------*/
/*-------------------------------------------------*/

/* global reset */
html, body {
    margin:0;
    padding:0;
    height:100%;
}

p {
    color: black;
    margin-bottom: 1em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1.subtitle {
    margin-bottom: 0.5em;
}

ul {
    margin-bottom: 0.3em;
}

.bold {
     font-weight: bold
 }

.italic {
    font-style: italic;
}

.imageHolder {
    /* border: solid 2px black; */
    clear: both;
    max-width: 300px;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    text-align: center;
}

p.caption {
    /* border: solid 2px red; */
    clear: both;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
}

.imageTravel {
    /* border: solid 2px black; */
    clear: both;
    margin-right: auto;
    margin-bottom: 3em;
    margin-left: auto;
    text-align: center;
}

p.travel {
    color: black;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 1em;
}

/*-------------------------------------------------*/
/*------styling by section-------------------------*/
/*-------------------------------------------------*/

#banner{
    margin: 0px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    background-color: black;

}

#banner h1{
    font-size: 3em;
    font-family: cursive;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    color:white;

}

#nav {
    /*border-top:solid 2px #342800;*/
    /*border-bottom: solid 2px #342800;*/
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 1em;
    /*padding-top: 1em;*/
    padding-bottom: 0.5em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#nav span {
    padding-right: 30px;
}

#nav a:link {
    color:#999;
    text-decoration: none;
}
#nav a:visited{
    color:#999;
}

#nav a:hover {
    /* color: #73AFB6; */
    /* text-decoration: underline #73AFB6; */
    /*border-bottom: solid 2px #73AFB6;*/
    color: yellow;
}

#container {

    padding: 10px 10px 10px 10px;

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*max-width: 1000px;*/
    min-height:100%;
    position:relative;

}

#content {
    padding-bottom:100px; /* Height of the footer element */

    margin-right: 12%;
    margin-left: 12%;
}


#footer {
    /*background:#ffab62;*/
    background:black;
    color: white;

    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;

}

#footer p{
    color: white;
    margin-left: 12%;
}

#footer a:visited{
    color:#999;
}

#footer a:link {
    color:#999;
    text-decoration: none;
}

